* {
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    padding: 10px;
}

.main {
    text-align: center;
    position: relative;
    height: 99vh;
    width: 99%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.1)
}

.select {
    height: 6vh;
    /* min-height: 50px; */
    width: 100%;
    position: absolute;
    top: 0px;
    text-align: center;
}

.acccountSelect {
    width: 50vw;
    font-size: 1em;
    padding: 5px;
}
.tablediv{
    max-height: 93vh;
    overflow: auto;
    width: 100%;
    position: absolute;
    top: 6vh;
    background: rgba(255, 255, 255, 1);
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    margin : 0px ;
  }

.title {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}